.navigation {
 background-color: red;
}

header .backgroundImage {
    background-color: #4a3ff8;
}

h3 {
    text-align: center;
}

.landmarks{
    background-color: #fff612;
    text-align: center;
    padding: 5px;
}

.logo1 {
    width: 100px;
    height: 100px;
    background: url("./MW_includes/atraction.svg");
    background-size: cover;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.events {
    background-color: #f87410;
    text-align: center;
    padding: 5px;
}

.logo2 {
    width: 100px;
    height: 100px;
    background: url("./MW_includes/calendar.svg");
    background-size: cover;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.tickets{
    background-color: #ff4d10;
    text-align: center;
    padding: 5px;
}
.logo3 {
    width: 100px;
    height: 100px;
    background: url("./MW_includes/ticket.svg");
    background-size: cover;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.adds {
    background-color: #ff3408;
    text-align: center;
    padding: 5px;
}
.logo4 {
    width: 100px;
    height: 100px;
    background: url("./MW_includes/add.svg");
    background-size: cover;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.function1 {
    background-color: gray;
}
.function2 {
    background-color: darkgray;
}
.function3 {
    background-color: dimgray;
}
.function4 {
    background-color: #d0d324;
}
.function5 {
    background-color: slategray;
}
.function6 {
    background-color: lightslategrey;
}
.function7 {
    background-color: dimgrey;
}
.function8 {
    background-color: gray;
}
.newsletter {
    background-color: yellow;
}
input {
    width: 800px;
}
button {
    width: 200px;
}
.photo {
    text-align: center;
}
.person1 {
    background-color: #ff0000;
}
.person2 {
    background-color: #ffffff;
}
.person3 {
    background-color: #4a3ff8;
}
h5 {
    text-align: center;
}
.icons{
    text-align: center;
}
.footerbg {
    background-color: red;
}
.footer {
    background-color: yellow;
}