.navigation {
 background-color: red;
}

header .backgroundImage {
    background-color: #4a3ff8;
}
.landmarks{
    background-color: red;
}
.events {
    background-color: #4a3ff8;
}
.tickets{
    background-color: aqua;
}
.adds {
    background-color: brown;
}
.function1 {
    background-color: gray;
}
.function2 {
    background-color: darkgray;
}
.function3 {
    background-color: dimgray;
}
.function4 {
    background-color: #d0d324;
}
.function5 {
    background-color: slategray;
}
.function6 {
    background-color: lightslategrey;
}
.function7 {
    background-color: dimgrey;
}
.function8 {
    background-color: gray;
}
.newsletter {
    background-color: yellow;
}
input {
    width: 800px;
}
button {
    width: 200px;
}
.photo {
    text-align: center;
}
.person1 {
    background-color: #ff0000;
}
.person2 {
    background-color: #ffffff;
}
.person3 {
    background-color: #4a3ff8;
}
h5 {
    text-align: center;
}
.icons{
    text-align: center;
}
.footerbg {
    background-color: red;
}
.footer {
    background-color: yellow;
}