body{
    font-size: 20px;
    font-family:  'Lato', sans-serif;
    background-color: black;
}

.question{
    font-weight: 300;
    color: white;
    margin: 20px;
    text-align: center;
}

.picture{
    text-align: center;
}

.picture img{
    width: 500px;
    text-align: center;
}

.answers{
    margin-bottom: 20px;
    margin-top: 20px;
    color: #279;
    text-align: center;
}

.answers label{
    display: block;
}


#submit{
    background-color: #279;
    font-size: 20px;
    color: white;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    display: block;
    margin: auto;
}


#submit:hover{
    background-color: #38a;
}

#results{
    color: white;
}

