.Container {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 0;
}
.Menu {
    height: 80px;
    background-color: white;
}
.Header {
    height: 485px;
    background-color: white;
    background-image: url("img/main-1000.png");
    background-repeat: no-repeat;
}
.Portfolio {
    width: 1000px;
    height: 450px;
    background-color: red;
    border-top: 5px solid #000000;
}
.Movies {
    width: 450px;
    height: 450px;
    background-color: white;
    float: left;
    border-right: 5px solid #000000;
    margin: 0;
}
.Tvseries {
    width: 450px;
    height: 450px;
    background-color: white;
    float: right;
    border-left: 5px solid #000000;
    margin: 0;
}
.Hobby {
    background-color: #db9035;
    clear: both;
    padding: 10px;
    border: 5px solid #000000;
    margin: 0;
}
.Contact {
    height: auto;
    background-color: black;
    padding: 10px;
    border: 5px solid #000000;
    margin: 0;
}
