.Container {
    font-family: Helvetica, Arial, sans-serif;
}

.Menu ul {
    position: fixed;
    margin-top: 0;
    background-color: #fff;
    z-index: +1;
}

.Menu li {
    list-style: none;
    float: left;
    display: block;
    width: 250px;
    height: 85px;
    text-align: center;
    line-height: 85px;
    font-size: 1.75em;
    font-weight: bold;
}

.Menu li:Hover {
    background-color: #fff761;
    color: #41b4d1;
}

.About {
    width: 700px;
    position: relative;
    left: 30px;
    top: 75%;
    text-align: left;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.85);
}

h1 {
    text-align: center;
    font-size: 2em;
}

h2 {
    text-align: left;
    font-size: 1em;
    font-weight: lighter;
    margin-left: 5px;
    text-indent: 15px;
}


a:hover {
    text-decoration: none;
}

.button {
    width: 100px;
    height: 50px;
    background-color: yellow;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

.button2 {
    background-color: #41b4d1;
}

.button3 {
    background-color: red;
}

.button4 {
    background-color: #db9035;
}

.button:hover {
    border: 5px solid black;
    color: black;
}

.Hobby li {
    display: block;
    width: 400px;
    height: 80px;
    text-align: center;
    line-height: 75px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}

.Hobby li:Hover {
    background-color: white;
}
.black {
    width: 300px;
    height: 50px;
    background-color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}
.black a{
    color: white;
    text-underline: none;
}