.Container {
    font-family: Helvetica, Arial, sans-serif;
}

.Menu ul {
     margin: 0px;
     padding: 0px;
 }
.Menu li {
    list-style: none;
    float: left;
    display: block;
    width: 250px;
    height: 80px;
    text-align: center;
    line-height: 75px;
    font-size: 24px;
    font-weight: bold;
}
.Menu li:Hover {
    background-color: #fff761;
    color: #41b4d1;
}
.About {
    width: 700px;
    position: relative;
    left: 30px;
    top: 75%;
    text-align: left;
    font-size: 1.5em;
    background: rgba(246, 248, 32, 0.7);
