.Container {
    width: 1000px;
    height: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.Menu {
    height: 80px;
    background-color: white;
}
.Header {
    height: auto;
    background-color: yellow;
}
.Movies {
    width: 500px;
    height: 600px;
    background-color: brown;
    float: left;
}
.Tvseries {
    width: 500px;
    height: 600px;
    background-color: olivedrab;
    float: right;
}
.Hobby {
    height: 600px;
    background-color: #f6f820;
    clear: both;
}
.Contact {
    height: 200px;
    background-color: #4a3ff8;
}
